* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
 
}


.logo {
  text-align: center;
  font-size: 4rem;
  color: rgb(14, 99, 133);
  margin-bottom: 0;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}


.container-lg {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 20px;
}


.btn {
  text-align: left;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(14, 99, 133);

}

.btn-primary {
  background-color: #333;

  color: white;
  border: none;
  border-radius: 5px;
}


.card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(14, 99, 133);;
}

.card-header {
  background-color: rgb(14, 99, 133);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.card-header:hover {
  background-color: #333;
  cursor: pointer;
}

.card-body {
  padding: 20px;
}

.card-img-top {
  width: 60%;
  height: auto;
  border-radius: 25%;
  align-self: center;

}

.card-img-main {
  width: 35%;
  height: auto;
  border-radius: 35%;
  align-self: left;
}

/* Link Button */
.btn-link {
  color: white;
  text-decoration: none;
  text-align: center;
}

.btn-link:hover {
  background-color: #333;
}

.collapse {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: none;
}


.form-group {
  margin-bottom: 15px;
}


.form-check {
  margin-bottom: 15px;
}

.form-check-input {
  margin-right: 10px;
}


.form-check-label {
  font-weight: normal;
}

a {
  font-size: 2rem;
}

.link {
  font-size: 1.2rem;
}

.searchbar{
  display: flex;
  max-width: 150px;
}

