* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  background-color: rgb(244, 236, 245);

}


.logo {
  text-align: center;
  font-size: 4rem;
  color: rgb(14, 99, 133);
  margin-bottom: 0;
  font-family: 'Pacifico', cursive;
  font-weight: bold;
  margin: 10px;
  padding: 10px;
}

.line {
  height: 5px;
  width: 100%;
  border: none;
  background: linear-gradient(to right, rgb(255, 0, 221), rgb(34, 16, 99), rgb(138, 39, 39));
}


.container-lg {
  margin-top: 50px;
  width: 100%;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}


.btn {
  text-align: left;
  padding: 1rem;
  width: 100%;
  font-weight: bold;
}

.btn:hover {
  background-color: rgb(26, 1, 29);

}

.btn-primary {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
}


.card {
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: rgb(14, 99, 133);
  ;
  border-radius: 15%;
}

.card-header {
  background-color: rgb(14, 99, 133);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;
}

.card-header:hover {
  background-color: #333;
  cursor: pointer;
}

.card-title {
  background-color: rgb(14, 99, 133);
  color: white;
  padding: 10px;
  font-weight: bold;
  font-size: 16px;

}

.card-body {
  padding: 20px;
}

.card-img-top {
  width: 60%;
  height: auto;
  border-radius: 25%;
  align-self: center;
  margin-top: 10px;


}

.card-img-main {
  width: 35%;
  height: auto;
  border-radius: 35%;
  align-self: left;
}

.card-img-alt {
  width: 90%;
  height: auto;
  border-radius: 35%;
  align-self: left;
}


.btn-link {
  color: #333;
  text-decoration: none;
  text-align: center;
}

.btn-link:hover {
  background-color: #333;
  font: white;
}

#recipeForm {
  margin: auto;
  width: 23%;
}

.collapse {
  background-color: #fff;
  padding: 1rem;
  border: 1px solid #dee2e6;
  border-top: none;
}

#accordion {
  margin: auto;
  width: 38%;
}


.form-group {
  margin-bottom: 15px;
}


.form-check {
  margin-bottom: 15px;
}

.form-check-input {
  margin-right: 10px;
}


.form-check-label {
  font-weight: normal;
}

a {
  font-size: 2rem;
}


.link {
  font-size: 1.2rem;
}





.container-lg {
  display: grid;
  grid-template-columns: 33.33% 33.33% 33.33%;
  grid-gap: 20px;
}

.searchbar {
  display: flex;
  width: 150px;
}


@media (max-width: 768px) {
  .container-lg {
    grid-template-columns: 50% 50%;
  }
}

@media (max-width: 576px) {
  .container-lg {
    grid-template-columns: 100%;
    grid-gap: 10px;
  }
}